h1 {
    color: red;
}

math-field[status="correct"] {
    border-color: var(--success);
}

math-field[status="partially-correct"] {
    border-color: var(--warn-soft);
}

math-field[status="wrong"] {
    border-color: var(--warn);
}